#myTable input {
	margin-left: 5px;
}

#myTable {
	border:2px solid green;
	border-collapse: collapse;
	margin: 30px 30px 20px 40px;
}
#myTable td, th {
	border:1px solid green;
	padding: 5px;
}
#myTable th {
	color: #fff;
	background-color: #a7c942;
}
#button {
	/* background-color: orange;
	border:2px solid orange; */
    color:#fff;
    background-color: gray;
	border:2px solid gray;
    border-radius: 3px;
	margin-left: 180px;
    
}
body {
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}

.dropDownTextArea {
    display: none;
}
